language: node_js

os:
  - linux

node_js:
  - "10"
  - "12"
  - "14"

install:
  - npm install

stages:
  - test
  - name: releaseNpm
    if: branch = master
  - name: ghPages
    if: branch = master

jobs:
  include:
    - stage: test
      name: "Run test scripts"
      node_js: "8.6.0"
      script:
        - npm run test
        - codecov

    - stage: releaseNpm
      name: "Release npm package"
      node_js: "14"
      script: echo "Release npm package..."
      deploy:
        provider: npm
        email: 1558267774@qq.com
        api_key: "$NPM_TOKEN"
        skip_cleanup: true
        on:
          branch: master

    - stage: ghPages
      name: "Deploying to github pages"
      node_js: "14"
      script:
        - npm run pg:build
      deploy:
        provider: pages
        github_token: $GITHUB_TOKEN
        skip_cleanup: true
        local_dir: playground/dist
        on:
          branch: master

notifications:
  email: false
