html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, 'PingFang SC', Helvetica, 'Helvetica Neue', 'Microsoft YaHei', Arial, sans-serif;
}

.app-container {
  height: 100%;
  overflow: hidden;
}

.left-section {
  float: left;
  width: 50%;
  height: 100%;
}

.left-section .editor {
  height: 100%;
}

.right-section {
  float: left;
  width: 50%;
  height: 100%;
  border-left: 1px solid #d2cfc6;
  box-sizing: border-box;
}

.preview-iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.tabs-wrapper {
  height: 100%;
}

.primary-btn {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  outline: 0;
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
}

.primary-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.primary-btn:active {
  text-decoration: none;
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}

.run-btn {
  position: absolute;
  top: 7px;
  right: 12px;
}

.js-tabs__content-container {
  height: calc(100% - 47px);
}

.js-tabs__content {
  height: 100%;
}

.js-tabs__tabs-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.js-tabs__tab {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 0;
}

.js-tabs__tab.active {
  background: #f9f9f9;
  color: #c55f2d;
  transition: all 0.2s;
}

.js-tabs__marker {
  display: none;
}
